.wrapper{
    width: 354px;
    height: 1024px;
    background-color:#F5F5F5 ;
    position: absolute;
    text-align: center;
}
.wrapper h1{
    color: #203562;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 33.6px;
    margin-top: 65px;
}

.btn{
    margin-top: 71px;
    background-color:#203562 ;
    width: 306px;
    padding: 8px 16px;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    color: #F5F5F5;
    font-family: 'Montserrat',sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.6px; 
}
